/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Defaults
2.0 Content
3.0 Footer
--------------------------------------------------------------*/

@import 'mixins';
%primaryFont { font-family: 'Merriweather', serif; }

/*--------------------------------------------------------------
  1.0 Defaults
--------------------------------------------------------------*/
html, body {
  height: 100%;
}

body {
  @extend %primaryFont;
  background-color: #F8F8F8;
  color: black;
}

h1, h2, h3 {
  font-weight: 400;
}

ul {
  list-style: none;
  margin-left: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

a {
  text-decoration: none;
  color: black;
  @include transition(all .2s ease-in-out);
  &:hover {
    color: #FF5B33;
  }
}

a, button {
  &:hover {
    cursor: pointer;
  }
}

*:focus {
  outline: none;
}

.parent {
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------
  2.0 Content
--------------------------------------------------------------*/

#site-info {
  text-align: center;
  padding-bottom: 1em;
  color: #333;
  h1 {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0.3em;
  }
  p {
    color: #b2b1b1;
    padding-bottom: 2em;
  }

}
#content {
  margin: 0 auto;
  display: table;
  min-height: 450px;
  background-color: white;
  background: url('../img/logo.png') white no-repeat;
  width: 750px;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  @include bp-medium {
    width: 600px;
  }
  @include bp-small {
    width: 350px;
  }
  .top-bar {
    border: 1px solid #E8E8E8;
    border-left: none;
    background-color: #F5F5F5;
    height: 50px;
  }
}

#random-btn {
  float: left;
  border: none;
  background-color: #F5F5F5;
  color: black;
  border-right: 1px solid #E8E8E8;
  height: 50px;
  width: 125px;
  text-transform: uppercase;
  font-weight: 900;
  @include transition(all .2s ease-in-out);
  &:hover {
    color: #e5350a;
    background-color: #F8F8F8;
  }
}

form#search-wiki {
  float: right;
  height: 50px;
  input {
    height: 10px;
    position: relative;
    top: 8px;
    width: 200px;
    padding: 10px;
    float: right;
    margin-right: 1em;
    @include bp-small {
      width: 100px;
    }
    &[type=text] {
      @extend %primaryFont;
      color: #777777;
    }
  }
  button {
    visibility: hidden;
    position: relative;
    right: -999999px;
  }
}

#results {
  padding: 1.5em 4em 2em 4em;
  h3 a {
    color: #FF5B33;
    &:hover {
      color: #e5350a;
    }
  }
  li {
    padding-bottom: 1em;
  }
  a.read-more {
    font-size: 14px;
    font-style: italic;
    color: #FF5B33;
    &:hover {
      color: #e5350a;
    }
  }
}

/*--------------------------------------------------------------
  3.0 Footer
--------------------------------------------------------------*/
#footer {
  text-align: center;
  color: #dddddd;
  font-size: 14px;
  margin: 4em 0;
  a {
    color: #dddddd;
    text-decoration: none;
    @include transition(all .2s ease-in-out);
    &:hover {
      color: #FF5B33;
    }
  }
}
